## 예측하기

---

예측을 하기 위해 필요한 library와 사용했던 placeholder형식을 그대로 불러옵니다.

In [1]:
import tensorflow as tf
import numpy as np
import pandas as pd

X = tf.placeholder(tf.float32, shape=[None, 4])
Y = tf.placeholder(tf.float32, shape=[None, 1])
W = tf.Variable(tf.random_normal([4, 1]), name="weight")
b = tf.Variable(tf.random_normal([1]), name="bias")

가설식을 그대로 가져오고 모델을 초기화해줍니다.

In [2]:
hypothesis = tf.matmul(X, W) + b

saver = tf.train.Saver()
model = tf.global_variables_initializer()

이제 아까 저장해두었던 예측할 데이터의 변수를 항목에 넣어주겠습니다.

In [3]:
data_image = pd.read_csv("data image.csv", index_col=0)
data_image.head()

      YEAR    1차산업비중      도시화율       HDI  GDP_rank_percapita
388   2014  1.851047  0.770953  0.988858                 149
1979  2010  0.207620  1.597668  1.272597                  46
1790  2013  0.007706  1.709417  1.284712                  40
1506  2005  1.986833  0.960188  1.053812                 169
3970  2004  0.128434  0.511566  0.710407                 201

In [6]:
year = float(input('연도: '))
pri_ind = float(input('1차산업화: '))
urb_rate = float(input('도시화율: '))
hdi = float(input('HDI: '))

연도: 2010
1차산업화: 0.207620
도시화율: 1.597668
HDI: 1.272597

어떤 결과값이 나오는지 확인해보겠습니다.

In [7]:
with tf.Session() as sess:
    sess.run(model)
    
    save_path = "./saved.train1.cpkt"
    saver.restore(sess, save_path)
    
    data = ((year, pri_ind, urb_rate, hdi), )
    arr = np.array(data, dtype=np.float32)
    
    x_data = arr[0:4]
    dict = sess.run(hypothesis, feed_dict={X: x_data})
    print("\n%d년에 예상되는 1인당 GDP순위는 %d위입니다."% (year, int(dict[0])))

INFO:tensorflow:Restoring parameters from ./saved.train1.cpkt

2010년에 예상되는 1인당 GDP순위는 42위입니다.

<br>
비용함수가 작은 편이 아니라 어느 정도 예측에 차이가 있습니다. 하지만 관련변수들로 대략적인 1인당GDP순위를 예측할 수 있다는 것을 알았습니다.
그러면 저희가 계산한 미래의 중국의 1차산업비중, 도시화율, 인간개발지수(HDI)를 가지고 미래의 중국의 1인당GDP순위를 예측해 보겠습니다.

중국 데이터만 모은 파일을 불러오겠습니다.

In [7]:
from pandas.io.parsers import read_csv
data_china = read_csv('china data.csv', sep=',')
data_china.head(30)

   COUNTRY  YEAR    1차산업비중      도시화율       HDI  GDP_rank_percaptia
0    China  1994  2.619655  0.571094  0.878887               178.0
1    China  1995  2.636098  0.585901  0.889789               179.0
2    China  1996  2.599639  0.600918  0.897106               174.0
3    China  1997  2.407249  0.615880  0.907051               168.0
4    China  1998  2.308211  0.631045  0.909667               163.0
5    China  1999  2.161014  0.646332  0.916667               165.0
6    China  2000  1.974229  0.661593  0.921997               166.0
7    China  2001  1.881037  0.680091  0.927245               160.0
8    China  2002  1.789298  0.700457  0.937020               163.0
9    China  2003  1.661171  0.720910  0.946728               160.0
10   China  2004  1.737530  0.741383  0.951735               160.0
11   China  2005  1.565999  0.761666  0.961136               164.0
12   China  2006  1.429363  0.781185  0.971893               165.0
13   China  2007  1.378300  0.800438  0.982405               158.0
14   China  2008  1.367925  0.819279  0.989826               150.0
15   China  2009  1.296246  0.837935  0.998553               141.0
16   China  2010  1.254409  0.856477  1.007174               135.0
17   China  2011  1.234564  0.873944  1.011380               132.0
18   China  2012  1.225961  0.889523  1.015537               130.0
19   China  2013  1.202987  0.906213  1.019635               124.0
20   China  2014  1.166849  0.922712  1.023677               119.0
21   China  2015  1.132922  0.938837  1.027701               106.0
22   China  2016  1.093133  0.954677  1.030261               104.0
23   China  2017  1.017788  0.970115  1.032922               102.0
24   China  2018  0.967215  0.984807  1.036936                90.0
25   China  2025  0.094025  1.097063  1.062887                 NaN
26   China  2030  0.070400  1.177250  1.081450                 NaN
27   China  2035  0.046775  1.257437  1.100013                 NaN
28   China  2040  0.023150  1.337625  1.118575                 NaN

tail()을 사용하여 뒤에 있는 데이터 값을 확인해보겠습니다.

In [8]:
data_china.tail()

   COUNTRY  YEAR    1차산업비중      도시화율       HDI  GDP_rank_percaptia
24   China  2018  0.967215  0.984807  1.036936                90.0
25   China  2025  0.094025  1.097063  1.062887                 NaN
26   China  2030  0.070400  1.177250  1.081450                 NaN
27   China  2035  0.046775  1.257437  1.100013                 NaN
28   China  2040  0.023150  1.337625  1.118575                 NaN

마지막의 4개의 데이터는 2025년부터 2040년까지 저희가 미래의 중국의 1차산업비중, 도시화율, 인간개발지수(HDI)를 계산하여 예측한 것입니다. 그 연도에 해당하는 GDP 순위를 보면 값이 없는 걸 볼 수 있습니다. 그럼 이 데이터를 가지고 미래의 중국의 1인당 GDP순위를 예측해보겠습니다.

In [9]:
predict = [0, 0, 0, 0, 0]
for i in range(1, 5):
    year = float(input('연도: '% i))
    pri_ind = float(input('1차산업화%d: '% i))
    urb_rate = float(input('도시화율%d: '% i))
    hdi = float(input('HDI%d: '% i))
    
    with tf.Session() as sess:
        sess.run(model)

        save_path = "./saved.train1.cpkt"
        saver.restore(sess, save_path)

        data = ((year, pri_ind, urb_rate, hdi), )
        arr = np.array(data, dtype=np.float32)

        x_data = arr[0:4]
        dict = sess.run(hypothesis, feed_dict={X: x_data})
        predict[i] = int(dict[0])

1차산업화1: 0.094025
도시화율1: 1.097063
HDI1: 1.062887
INFO:tensorflow:Restoring parameters from ./saved.train1.cpkt
1차산업화2: 0.070400
도시화율2: 1.177250
HDI2: 1.081450
INFO:tensorflow:Restoring parameters from ./saved.train1.cpkt
1차산업화3: 0.046775
도시화율3: 1.257437
HDI3: 1.100013
INFO:tensorflow:Restoring parameters from ./saved.train1.cpkt
1차산업화4: 0.023150
도시화율4: 1.337625
HDI4: 1.118575
INFO:tensorflow:Restoring parameters from ./saved.train1.cpkt

In [10]:
for i in range(1, 5):
    print("%d년에 예상되는 중국의 1인당 GDP순위는 %d위입니다.\n"% (2020+5*i, predict[i]))

2025년에 예상되는 중국의 1인당 GDP순위는 103위입니다.

2030년에 예상되는 중국의 1인당 GDP순위는 97위입니다.

2035년에 예상되는 중국의 1인당 GDP순위는 90위입니다.

2040년에 예상되는 중국의 1인당 GDP순위는 83위입니다.

위의 자료와 비교해보면 어느정도 줄어들긴 하지만 급격한 변화는 없는 것 같습니다.